<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>    
    <connectionStrings>
          <add name="Sample.Project.Data.SqlconnectionStr"
              connectionString="Data Source=SERVERNAME;Initial Catalog=DATABASENAME;Integrated Security=True"
              providerName="System.Data.SqlClient" />
     </connectionStrings>
    <appSettings>
      <add key="LogDebugInformation" value="false" />
      <add key="WriteToDataBase" value="false" />  
  </appSettings>
</configuration>